@import url("variables.css");

body {
  font-family: var(--font);
}

.social::-webkit-scrollbar { 
  width: 10px;
}

.social::-webkit-scrollbar-track{ 
  background: #0c0c0c
}

.social::-webkit-scrollbar-thumb { 
  background: #222;
  border-radius: 20px;
}